#App {
  display: grid;
  text-align: center;
  grid-template-rows: 5em 1fr;
  /* font-family: 'Yanone Kaffeesatz'; */
  font-family: sans-serif;

}

#app-content {
  grid-row: 2;
  margin-left: 1in;
  margin-right: 1in;
}
.articles {
  margin-top: 5em;
}

.article-title {
  color: #FFFFFF
}

.article-title:visited {
  color: turquoise
}

.comment-box {
  border: double
}


.cards {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 2in;
  border: solid;
  border-radius: 1em;
  margin-bottom: 0.5cm;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #c31432

}

.card-body {
  grid-column: 2;
  grid-row: 2;
  height: 1cm;
  overflow: hidden;
  text-align: center;
  color: #FFFFFF;
}
 
.card-title {
  grid-column: 2;
  grid-row: 1;
  color: #FFFFFF;
}


.card-readmore {
  grid-column: 3;
  grid-row:2;
  color: #FFFFFF;
}

.card-vote {
  grid-column: 1;
  grid-row: 1;
}
#comments {
  overflow-y: scroll;
  height: 340px
}

#comment-box{
  width: 80%;
  height: 5em;
}

.downvote {
  background-color: blue;
}

#error {
  padding-top: 10px;
  


}

#home {
  grid-row: 2;
}

h1 {
  text-transform: capitalize;
}

.login-msg {
  color: crimson
}

#logged-in {
  margin: 5px;
}

.logout-msg {
  margin-top: 50%
}

#logo {
  height: 5em;
  width: 5em;
  border-left: solid;
  border-right: solid;
  grid-column: 1;
  
}

.mode-vote {
  width: 25px;
  padding: 1em;
 
}

#nav-bar-container {
  grid-row: 1;
  display: grid;
  grid-template-columns: 5em 1fr;
  grid-template-rows: 2.5em 2.5em;
  background-color: cornsilk;
  position: fixed;
  top: 0;
  width: 100%;
  height: 5em;
  border-bottom: solid;
  border-top: solid;
  /* overflow: hidden; */
  /* margin-bottom: 2in; */
}

#nav-links-bar {
  /* display: inline; */
  list-style-type: none;
  /* margin: 0; */
  padding: 10px;
  
  grid-column: 2;
}

.nav-link {
  /* display: block; */
  float: left;
  text-align: center;
  text-decoration: none;
  margin: 0;
  /* padding: 0; */
  
}
.nav-link-login {
  display: block;
  float: right;
  text-align: center;
}

.nav-link a {
  /* display: block; */
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
.nav-link :hover{
  cursor: pointer;
  /* background-color: #C31432;
  color: white */
}

#nc-header {
  height: 10em;
  width: auto;
}

ol {
  padding: 0;
}

#title-div {
  
}
#title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 500%;
  margin-top: 0;
  color: #C31432
}

.title-item {
  /* display: inline-block; */
}


#topics {
  
  position: relative;
  top: 1em;

  height: auto;
  width: fit-content;
  border: solid;
  border-radius: 1em
}
.topics-show {
  display: block;
}

.topics-hidden {
  /* display: inline-block; */
  /* display: none; */
  background-color: #C31432;
  border: solid;
}

.topics-hidden :hover {
  
}

.topic-item {
  margin-top: 1px;
  margin-bottom: 1px;
  color: #FFFFFF;
}
#topics-list {
  list-style-type: none;
  width: 1in;
  padding: 0;
}

.votes {
  float: left;
  padding-left: 1cm;
  
}

.vote-num {
  color: #FFFFFF;
  margin: 0;

}

.upvote {
  background-color: darkorange;
}

.users{
  margin-top: 5em;
}

