#App {
  display: grid;
  text-align: center;
  
  grid-template-rows: 5em 1fr;

}

#home {
  grid-row: 2;
}


.content {
  grid-row: 2;
  margin-left: 1in;
  margin-right: 1in;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.articles {
  margin-top: 5em;
 
}

.topics {
  text-align: left
}

#nav-links-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2in;
  background-color: #d6baba;
  border: #222;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  grid-row: 1
}
.nav-link {
  float: left;
  text-align: center;
}
.nav-link-login {
  float: right;
  text-align: center;
}

.nav-link a {
  display: block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}
.nav-link :hover{
  background-color: maroon;
  color: white
}

.mode-vote {
  
  width: 25px;
  padding: 1em;

}

.comment-box {
  border: double
}

.votes {
  float: left;
  padding-left: 1cm
}

.login-msg {
  color: crimson
}

#comment-box{
  width: 80%;
  height: 5em;
}

.cards {
  grid-column: 2;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 2in;
  border: solid;
  border-radius: 1em;
  margin-bottom: 0.5cm;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: cornsilk;
  /* margin-left: 25px;
  margin-right: 25px; */
}

.card-body {
  grid-column: 2;
  grid-row: 2;
  height: 1cm;
  overflow: hidden;
  text-align: center;
  align-self: auto;
}
 
.card-title {
  grid-column: 2;
  grid-row: 1;
}

.card-readmore {
  grid-column: 3;
  grid-row:2;
}

.card-vote {
  grid-column: 1;
  grid-row: 1;
}

.upvote {
  background-color: darkorange;
}
.downvote {
  background-color: blue;
}
.comments {
  overflow-y: scroll;
  height: 340px
}

.home {
  margin-top: 5em;
}
.topics {
  display: inline-block;
}
.users{
  margin-top: 5em;
}
.logout-msg {
  margin-top: 50%
}
ol {
  padding: 0;
}